.btn-solicitar {
  background-color: #268744;
  height: 52px;
  line-height: 52px;
  width: 180px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 51px;
  text-align: center;
  color: #fff !important;
  border: 15px solid #ededed;
  margin-left: 30px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.titulo {
  font-size: 2.5rem;
  font-weight: 400;
  color: #0c326f;
  line-height: 40px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}