<div>
  <nav class="br-step" data-initial="1" data-label="bottom" role="none">
    <div class="step-progress" role="listbox" aria-orientation="horizontal"
      aria-label="Lista de Opções">
      <button class="step-progress-btn" role="option" aria-posinset="1" aria-setsize="3"
        type="button"><span class="step-info">Nome</span></button>
      <button class="step-progress-btn" role="option" aria-posinset="2" aria-setsize="3"
        type="button"><span class="step-info">Nível/Modalidade</span></button>
      <button class="step-progress-btn" role="option" aria-posinset="3" aria-setsize="3"
        type="button"><span class="step-info">Formulário</span></button>
      <button class="step-progress-btn" role="option" aria-posinset="4" aria-setsize="3"
        type="button"><span class="step-info">Confirmação</span></button>
      <button class="step-progress-btn" role="option" aria-posinset="5" aria-setsize="3"
        type="button"><span class="step-info">Comprovante</span></button>
    </div>
  </nav>
</div>